.footer {
    background-color: #FFF8E6;
    position: relative;
    /* margin-top: 6rem; */
    /* padding: 2%; */
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: fit-content;
    font-family: 'Prata', serif;
    color: #707070;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.logo {
    padding-bottom: 3rem;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    padding: 2%;
}
.links p {
    font-family: 'Roboto', sans-serif;
}
.links a:hover {
    color: #3e3e3e;
}

.link-group {
    text-align: start;
}