.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;     /* vertical centering */
  align-items: center;    /* horizontal centering */
  padding-top: 20vh;
  padding: 1rem;
  height: 100vh;
  text-align: center;
  font-family: 'Prata', serif;
  box-sizing: border-box;
  /* background: linear-gradient(45deg, #0e1b33,#5faef8); */
}

.landing-title {
  font-size: 3rem;
  color: #333;
  /* color: white; */
}

.landing-subtitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #666;
  /* color: white; */
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.landing-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #fadadd;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.landing-button:hover {
  background-color: #fcb5c4;
}
  