.marquee-container {
  overflow: hidden;
  width: 100%;
  padding: 1rem 0;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: scroll-left 60s linear infinite;
}

.marquee-img {
  height: 150px;
  width: auto;
  flex-shrink: 0;
  margin: 0 0rem;
  /* border-radius: 1rem; */
  /* object-fit: cover; */
  transition: transform 0.3s ease;
}

.marquee-img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
