.profile-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Prata', serif; /* or your main site font */
}

.profile-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
  align-self: center;
}

.profile-container p {
  color: #666;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.profile-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  background: white;
  border-radius: 10px;
  align-items: center;
  text-align: start;
  display: block;
  padding: 10px;
}

.profile-box {
  background-color: white;
  border-radius: 10px;
  align-items: center;
  text-align: start;
  align-content: center;
  padding: 10px;
  width: 100%;
  gap: 5px;
  box-sizing: border-box;
  cursor: pointer;
  /* transition: all 2s ease; */
  transition: background-color 0.5s ease-in-out;
  display: block;
}

.profile-pill {
  display: inline-block;
  /* background-color: hsla(0, 0%, 53%, .133); */
  background-image: linear-gradient(-45deg, #f5d6d6, #f5e5d6, #f5f5d6, #e5f5d6, #d6f5d6, #d6f5e5, #d6f0f5, #d6e5f5, #d6d6f5, #e5d6f5, #f5d6f5, #f5d6e5, #f5d6d6);
  border-radius: 4px;
  padding: 8px;
  margin: 0 8px 8px 0;
  align-items: center;
  align-content: center;
  vertical-align: middle;
}
/* .profile-pill:hover {
  background: linear-gradient(-45deg, #f5d6d6, #f5e5d6, #f5f5d6, #e5f5d6, #d6f5d6, #d6f5e5, #d6f0f5, #d6e5f5, #d6d6f5, #e5d6f5, #f5d6f5, #f5d6e5, #f5d6d6);
} */
.profile-pill.basic {
  background-attachment: fixed;
}
.profile-pill.social {
  background-attachment: fixed;
}
.profile-pill.misc {
  background-attachment: fixed;
}
.profile-pill p {
  margin: 0;
}

.profile-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.item-card {
  background: #fdfdfd;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  padding: 1rem;
  text-align: center;
  transition: transform 0.2s ease;
}

.item-card:hover {
  transform: translateY(-5px);
}

.item-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 0.75rem;
  margin-bottom: 0.5rem;
}

.item-card p {
  font-weight: 500;
  color: #444;
}

.profile-wrapper {
    min-height: 100vh;
}

.contact-link {
  text-decoration: underline;
  font-weight: 400;
  transition: color 0.2s ease;
  color: #7E5BEF;

}

.contact-link:hover {
  color: #ff69b4;
}

.contact-link:focus {
  outline: 2px dashed #ccc;
  outline-offset: 2px;
}

.preferred-contact {
  color: #4916f0 !important;
  font-weight: 800 !important;
}
.preferred-contact:hover {
  color: #ff1a8c !important;
}

/* for editing */
.edit-row {
  position: relative;
  display: flex;
  flex-direction:column;
  height: auto;
  align-items: end;
}

.edit-btn {
  cursor: pointer;
  background: none;
  border: none;
  box-sizing: border-box;
  padding: 0;
  transition: transform 0.2s ease;
}
.edit-btn:hover {
  transform: scale(1.3);
}